@font-face {
    font-family: 'W95FA';
    src: url('assets/fonts/W95FA.otf') format('truetype');
  }


body {
    background-color: #008083;
    margin: 0;
    font-family: W95FA;
}


/*FOOTER*/
footer {
    background-color: #C0C0C0;
    border-top: solid white 3px;
    width: 100vw;
    height: 35px;
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer button {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #C0C0C0;

    height: 30px;
    margin: 2.5px;
    border-style: outset;
    border-top-color: white;
    border-left-color: white;
    border-right-color: black;
    border-bottom-color: black;
    border-width: 2px;
}

.border-active {
    border-top-color: black;
    border-left-color: black;
    border-right-color: white;
    border-bottom-color: white;
}
.social-active {
    border-top-color: black;
    border-left-color: black;
    border-right-color: white;
    border-bottom-color: white;
}

footer button img {
    width: 20px;
    margin-right: 5px;
}

footer button div {
    font-family: W95FA;
}

/* SOCIAL - WINDOWS BUTTON */

#social {
    position: absolute;
    left: 0;
    bottom: 35px;
    width: fit-content;
    height: 200px;

    display: flex; 
    flex-direction: row;
}

#social-banner {
    background-color: #969696;
    width: 30px;
}
#social-banner p {
    transform: rotate(-90deg);
    position: relative;
    top: 140px;
    color: white;
    font-size: 20px;
}
#social-banner p span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: #C0C0C0;
}

#social-buttons-container {
    background-color: #C0C0C0;
    list-style: none;
    width: fit-content;
    margin: 0;
    padding: 0;
}

.social-button{

    display: flex;
    flex-direction: row;
    padding: 10px;
}

.social-button:hover{    
    cursor: pointer;
    background-color: #969696;
}

a {
    color: inherit;
    text-decoration: none;
}

.social-button-icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.social-button-text{
    margin-right: 15px;
    width: 100%;
}

.social-button-tool {
    width: 10px;
    height: 10px;
    margin-top: 5px;
    position: absolute;
    right: 5px;
}


hr{
    height: 2px;
    margin: 0;
}


/* CLOCK - TIME CONTAINER */

footer #clock-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: max-content;
    margin: 3px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow:   inset -2px -2px rgb(255, 255, 255),
    inset 2px 2px #444444;

    font-size: 15px;
}

footer #clock-container img {
    width: 15px;
    margin-right: 10px;
}