.hb-button {
  cursor: pointer;
  width: 7em;
  height: 7em;
  padding: auto;
  background-color: #c0c0c0;

  border-style: outset;

  border-top-color: white;
  border-left-color: white;
  border-right-color: black;
  border-bottom-color: black;
}
.hb-button:hover {
  border-top-color: black;
  border-left-color: black;
  border-right-color: white;
  border-bottom-color: white;
}
.hb-button img {
  width: 4em;
}

code {
  color: white;
  background-color: black;
}
