.profile-page {
    color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* font-family: Arial, Helvetica, sans-serif */

}
.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    /* background-color: red; */
    width: fit-content;
    margin: 2em;

    border-bottom: solid white 2px;
    padding: 2em;
    padding-top: 0;

}

.profile-container > div{
    padding-left: 2em;

}

.profile-img{
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

/*Experiences - language*/

.experience-language {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    
}
.experience-main-container > p, .language-main-container > p{
    font-size: 1.2em;
    text-align: center;
}
.experience-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.experience-container img {
    width: 6.5em;
    margin-right: 1em;
}
#experience {
    width: 6em;
}

#experience p{
    margin: 0;
}

.language-container img {
    width: 11em;
}

/*LANGUAGES*/

.languages {
    margin: 20px;
    margin-bottom: 0;
    padding: 20px;
    width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    margin: auto;
}
.languages h3 {   
    margin-left: 20px;
}
.languages div {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
}
.languages img{
    width: 50px;
    height: 50px;
    margin: 20px;
    margin-top: 10px;
    
}

/*SOCIAL BUTTONS*/
.social-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.social-buttons img{
    width: 5em;
    margin: 2em;
}

@media (max-width: 750px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
        align-content: center;
        
    }

    .profile-container > div{
        padding-left: 0em; 
        text-align: center;   
    }

  }
